.repo{
    display: inline;
    z-index: -1;
}

.linksalidas{
    top:50px;
    position: absolute;
    display: inline;
    color: white;
    right:500px;
}

.linkingresos {
    top:50px;
    position: absolute;
    display: inline;
    color: white;
    right:280px;
}


body{font-family: 'Lucida Sans Unicode','Lucida Graden','sans-serif';}
a,h1,h2{color: #377ba8}
h1,h2 {margin:0;}
h1{border-bottom:1px solid #eee;}
h2{font-size: 1.2em;}

table.datafame,.dataframe th, .dataframe td{
    border:none;
    border-bottom:1px solid #C8C8C8;
    border-collapse: collapse;
    text-align:left;
    padding:10px;
    margin-bottom:40px;
    font-size: 0.9em;
}

.data th{
    background-color:gray;
    color: white;
}

tr:nth-child(odd){background-color:#eee}
tr:nth-child(even){background-color:#fff;}
tr:hover {background-color:#ffff99}


.subdiv{
    display: inline;
    position: absolute;
    padding-bottom: 740px;
    background-color:rgb(255, 180, 42);
    padding-left: 700px;
    top:52px;
    right: 10px;
}

.pl{
    display: inline;
    height:100px;
    width: 50px;
}