<!DOCTYPE html>
<html>
    <head>
        <title>
            REPORTE DE VENTAS
        </title>

        <link rel="stylesheet" href="{{ url_for('static',filename = 'css/reporte.css') }}">

    </head>

    <body>
        <iframe class = repo title="inve - Página 1" width="1694" height="770"src="https://app.powerbi.com/view?r=eyJrIjoiNTVkZWFjMGUtMWFhYi00NzJjLWIxZjYtMzY2NWYzZmY3ODRmIiwidCI6IjNiOTQ0ZDlhLTEwNTEtNDY4NS1iMDlkLTlhOTVlZTJkYmQ5OSIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
        <a class = linksalidas href = '/'>INGRESO DE INVENTARIO</a>
        <a class = linkingresos href = 'salidas'>SALIDAS DE INVENTARIO</a>
    </body>




</html>